
* {
  /* font-family: 'Galmuri9'; */
  font-family: 'Press Start 2P', 'Galmuri9';
}
/* signup input 틀의 size and margin */
.signup_input {
  /* box */
  width: 350px;
  height: 100%;
  margin-top: 20px;
  /* font */
  font-size: 6px;
}

/* 기본 input 설정 */
.signup_input input{
  /* box */
  padding: 1em 1em;
  padding-bottom: 2px;
  margin-bottom: 20px;
  width: 100%;
  height: 50px;
  background : transparent;
  border: 0;
  border-bottom: 0.7px solid #00BD9D;
  /* font */
  color: white;
  font-size: 12px;
  ime-mode: disabled;
}
/* input focused 설정 */
.signup_input input:focus {
  /* padding */
  border: 0;
  padding-bottom: 1em;
  border-radius: 7px;
  box-shadow: 0 0 0 0.7px #00BD9D;
  outline: none;
  /* font */
  color: white;
}
.signup_input button {
  /* box */
  width: 100%;
  height: 50px;
  margin-top: 20px;
  border: 0;
  border-radius: 10px;
  /* background */
  background-color: #00BD9D;
  /* font */
  color: white;
  font-size: 14px;
  /* etc */
  cursor: pointer;
}
.signup_input button:focus {
  box-shadow: 0 0 0 1.5px #00BD9D;
  background-color: #036B5A;
}

.input-file-button {
  /* box */
  padding: 10px 25px;
  margin-bottom: 30px;
  margin-left: 100px;
  border-radius: 4px;
  /* background */
  background-color: #036B5A;
  /* font */
  font-size: 10px;
  color: white;
  /* etc */
  cursor: pointer;
}
